<!doctype html>
<html lang="en">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta content="<%= productDescription %>" name="description" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="no" name="msapplication-tap-highlight" />
    <meta
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
      name="viewport"
    />

    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/favicon.svg" rel="icon" />
    <link href="/site.webmanifest" rel="manifest" />
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" />
    <meta content="#da532c" name="msapplication-TileColor" />
    <meta content="#ffffff" name="theme-color" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
