// app global css in SCSS form
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/poppins-italic-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
  U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/poppins-italic-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
  U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/poppins-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
  U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/poppins-600.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
  U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/poppins-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
  U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Mulish', serif;
}

/* Quasar */
.body--light {
  /* ... */
  .engine-message {
    background-color: $secondary;
  }

  .message-content {
    color: $purple700;
  }

  .q-toggle {
    .q-toggle__track {
      background-color: $purple700;
      opacity: 0.7;
    }
  }

  .personas-dropdown {
    border: 1px solid $secondary;
  }

  .text-light {
    color: $primary;
  }
}

.body--dark {
  /* ... */
  .q-dark,
  .text-primary {
    color: $dark-text-color !important;
  }

  .bg-primary {
    background-color: $primary-dark !important;
  }

  .btn-gradient {
    background-image: inherit;
    background-color: $primary-dark !important;
  }

  .message-content {
    color: $dark-text-color;
  }

  .personas-dropdown {
    background-color: $secondary;
  }

  .text-light {
    color: $primary;
  }

  aside {
    & .item-history {
      border: 1px solid $secondary;
      color: $dark-text-color;
    }
  }

  .q-item--dark {
    color: $dark-text-color;
  }

  .border-primary-highlight {
    border: 1px solid $primary;
  }

  .bg-purple-50 {
    background-color: $primary-dark !important;
    color: $purple50 !important;
  }
}

/* Quasar */
.q-tooltip {
  background-color: $primary;
}

/* fix broken avatar radius */
.q-avatar__content {
  border-radius: 50%;
}

/* TEXT */
.text-semibold {
  font-weight: 600;
}

.text-purple700,
.text-purple-700 {
  color: $purple700 !important;
}

.border-primary-highlight {
  border: 1px solid $border-color;
}

.dyn-container {
  padding-right: calc((100% - 960px) / 2);
  padding-left: calc((100% - 960px) / 2);
}

@media only screen and (max-width: 1201px) {
  .dyn-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.bg-dark-page {
  background-color: $dark-page;
}

.bg-light {
  background-color: #644df9;
}

.bg-purple-50 {
  background-color: $purple50;
}

.bg-purple-700 {
  background-color: $purple700;
}

.rounded {
  border-radius: 100px;
}

aside {
  border-right: 1px solid #d9d9d9;

  & .item-history {
    border: 1px solid #d9d9d9;
  }
}

.btn-gradient {
  background-image: linear-gradient(to right top, #644df9 10%, #fccbff 100%);
}

.item-active {
  border: 1px solid $primary !important;
}

input {
  background-clip: text !important;
  -webkit-background-clip: text !important;
}

.rounded-img img {
  border-radius: 50%;
}

.avatar {
  border-radius: 50%;
}

.icon-md > svg,
.icon-md img {
  width: 0.8em;
  height: 0.8em;
}

.bull-date {
  color: $dark-text-color;
}

.bull-date::before {
  content: '● ';
  margin-left: 5px;
}
